/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for testing the Sylph and MultiQC integration with small public data
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h'
    ]

    withName: SYLPH_PROFILE {
        cpus = 2
        memory = '8.GB'
        time = '1.h'
    }

    withName: MINIMAP2_ALIGN {
        cpus = 2
        memory = '8.GB'
        time = '1.h'
    }
}

params {
    config_profile_name        = 'Sylph test profile'
    config_profile_description = 'Small test dataset for Sylph and MultiQC integration'

    input = "${projectDir}/assets/test_sylph_samplesheet.csv"
    fasta = 'https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/genomics/homo_sapiens/genome/genome.fasta'
    skip_kraken2 = true
    skip_sylph = false
    sylph_db = 'https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/genomics/sarscov2/genome/genome.fasta'
    sylph_taxonomy = 'https://github.com/nf-core/test-datasets/raw/taxprofiler/data/database/sylph/test_taxonomy.tsv.gz'
}
