/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for testing successful Voyager profiling and MultiQC custom content
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h'
    ]

    withName: MINIMAP2_ALIGN {
        cpus = 2
        memory = '8.GB'
        time = '1.h'
    }

    withName: VOYAGER_PROFILE {
        cpus = 1
        memory = '4.GB'
        time = '1.h'
    }
}

params {
    config_profile_name        = 'Voyager successful-profile test profile'
    config_profile_description = 'Small SARS-CoV-2 test dataset with a verified official Voyager v0.1.4 viral index.'

    input = "${projectDir}/assets/test_sylph_samplesheet.csv"
    fasta = 'https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/genomics/homo_sapiens/genome/genome.fasta'
    skip_kraken2 = true
    skip_sylph = true
    skip_voyager = false
    voyager_db = "${projectDir}/assets/test_voyager_viruses.idx"
}
