params {
    config_profile_name        = 'Cached Sylph identifier test profile'
    config_profile_description = 'Stub test for automatic local cache provisioning'

    input               = "${projectDir}/assets/test_sylph_samplesheet.csv"
    fasta               = 'https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/genomics/homo_sapiens/genome/genome.fasta'
    skip_kraken2        = true
    skip_sylph          = false
    sylph_db            = null
    sylph_taxonomy      = null
    sylph_db_ids        = 'GlobDB_r232,FungiRefSeq-latest,IMGVR_4.1'
    sylph_db_cache_dir  = null
}
