/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for testing uBAM human read depletion
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h'
    ]

    withName: MINIMAP2_ALIGN {
        cpus = 2
        memory = '8.GB'
        time = '1.h'
    }
}

params {
    config_profile_name        = 'uBAM test profile'
    config_profile_description = 'Small uBAM test dataset for human read depletion'

    input = "${projectDir}/assets/test_ubam_samplesheet.csv"
    fasta = 'https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/genomics/homo_sapiens/genome/genome.fasta'
    skip_kraken2 = true
    skip_sylph = true
}
